#!/usr/bin/env python3
# -*- coding: utf-8 -*-
"""
Created on Wed Nov 18 22:17:17 2020

@author: francescoserraino
"""

  
{% extends "layout.html" %}
{% block content %}
    {% for post in posts %}
        <article class="media content-section", style="background-color:lightblue;">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ post.author }}</a>
              <small class="text-muted">{{ post.date_posted }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
          </div>
        </article>
        <body>
        <img src="https://coursereport-s3-production.global.ssl.fastly.net/uploads/school/logo/84/original/logo-ironhack-blue.png", width="400" height="450">
        </body>
    {% endfor %}
{% endblock content %}
